# Password file for rapyuta.io CLI tests
# This file should contain the password used for test accounts
# DO NOT COMMIT THIS FILE TO GIT - it's added to .gitignore for security

# Default password for all test users
DEFAULT_PASSWORD= # Write your password here.

# You can also specify per-user passwords if needed:
# cli.superuser@rapyuta-robotics.com=YourSuperUserPassword
# cli.test1@rapyuta-robotics.com=YourTest1Password  
# cli.test2@rapyuta-robotics.com=YourTest2Password