# Password file for rapyuta.io CLI tests
# This file should contain the password used for test accounts
# Create a .password file using this and provide the actual credentials
# DO NOT COMMIT THE .password file for securing reasons.

# Default password for all test users
DEFAULT_PASSWORD= # Write your password here.

# You can also specify per-user passwords if needed:
# cli.superuser@rapyuta-robotics.com=YourSuperUserPassword
# cli.test1@rapyuta-robotics.com=YourTest1Password  
# cli.test2@rapyuta-robotics.com=YourTest2Password


# HWIL user name and passwords to run fileupload tests:
HWIL_USERNAME= 
HWIL_PASSWORD=
