apiVersion: "apiextensions.rapyuta.io/v1"
kind: "Device"
metadata:
  name: "device-docker" # Required
  project: "project-guid"
  labels:
    custom_label_1: label1
    custom_label_2: label2
    custom_label_3: label3
    app: test
spec:
  python: "3"
  rosDistro: "melodic" # Options: ["kinetic", "melodic" (default), "noetic"]
  docker:
    enabled: True # Required
    rosbagMountPath: "/opt/rapyuta/volumes/rosbag"
  configVariables:
    custom_config_variable_1: value1
    custom_config_variable_2: value2

---
apiVersion: "apiextensions.rapyuta.io/v1"
kind: "Device"
metadata:
  name: "device-preinstalled" # Required
  project: "project-guid"
  labels:
    app: test
spec:
  python: "3"
  rosDistro: "melodic" # Options: ["kinetic", "melodic" (default), "noetic"]
  preinstalled:
    enabled: True # Required
    catkinWorkspace: "/home/rapyuta/catkin_ws"

---
apiVersion: "apiextensions.rapyuta.io/v1"
kind: "Device"
metadata:
  name: "device-hybrid" # Required
  project: "project-guid"
  labels:
    app: test
spec:
  python: "3"
  rosDistro: "melodic" # Options: ["kinetic", "melodic" (default), "noetic"]
  docker:
    enabled: True # Required
    rosbagMountPath: "/opt/rapyuta/volumes/rosbag"
  preinstalled:
    enabled: True
    catkinWorkspace: "/home/rapyuta/catkin_ws"

---
apiVersion: "apiextensions.rapyuta.io/v1"
kind: "Device"
metadata:
  name: "virtual-device-docker" # Required
  project: "project-guid"
  labels:
    custom_label_1: label1
    custom_label_2: label2
    custom_label_3: label3
    app: test
spec:
  python: "3"
  rosDistro: "melodic" # Options: ["kinetic", "melodic" (default), "noetic"]
  virtual:
    enabled: True # Required
    product: "sootballs" # Required Options: ["sootballs", "flaptter", "oks", "platform"]
    arch: "amd64" # Options: ["amd64" (default), "arm64" ]
    os: "ubuntu" # Options: ["ubuntu" (default), "debian" ]
    codename: "focal" # Options: ["bionic", "focal" (default), "jammy", "bullseye"]
    highperf: False # Optional [True, False (default)]
  docker:
    enabled: True # Required
    rosbagMountPath: "/opt/rapyuta/volumes/rosbag"
  configVariables:
    custom_config_variable_1: value1
    custom_config_variable_2: value2

