---
apiVersion: "apiextensions.rapyuta.io/v1"
kind: "Device"
metadata:
  name: "device-hybrid" # Required
  labels:
    app: test
spec:
  python: "3"
  rosDistro: "melodic" # Options: ["kinetic", "melodic" (default), "noetic"]
  docker:
    enabled: True # Required
    rosbagMountPath: "/opt/rapyuta/volumes/rosbag"
  preinstalled:
    enabled: True # Required
    catkinWorkspace: "/home/rapyuta/catkin_ws"