---
apiVersion: "apiextensions.rapyuta.io/v1"
kind: "Device"
metadata:
  name: "device-preinstalled" # Required
  labels:
    app: test
spec:
  python: "3"
  rosDistro: "melodic" # Options: ["kinetic", "melodic" (default), "noetic"]
  preinstalled:
    enabled: True # Required
    catkinWorkspace: "/home/rapyuta/catkin_ws"