apiVersion: api.rapyuta.io/v2
kind: Project
metadata:
  name: test-project-name
  labels:
    purpose: testing
    version: "1.0"
spec:
  users:
    - emailID: "user1@example.com"
      role: "admin"
    - emailID: "user2@example.com"
      role: "viewer"
  userGroups:
    - name: "dev-group"
      role: "admin"
    - name: "qa-group"
      role: "viewer"
  features:
    vpn:
      enabled: true
      subnets: ["10.81.0.0/16"]
    dockerCache:
      enabled: true
      proxyDevice: "edge01"
      proxyInterface: "eth0"
      registrySecret: "quay"
      registryURL: "https://quay.io"
