apiVersion: api.rapyuta.io/v2
kind: Project
metadata:
  name: test-project-name
  labels:
    purpose: testing
    version: "1.0"
spec:
  members:
  - subject:
      kind: User
      name: "user1@example.com"
    roleNames: [ "project_admin" ]
  - subject:
      kind: User
      name: "user2@example.com"
    roleNames: [ "project_viewer" ]
  - subject:
      kind: ServiceAccount
      name: "service-account-1"
    roleNames: [ "project_admin" ]
  features:
    vpn:
      enabled: true
      subnets: ["10.81.0.0/16"]
    dockerCache:
      enabled: true
      proxyDevice: "edge01"
      proxyInterface: "eth0"
      registrySecret: "quay"
      registryURL: "https://quay.io"
      dataDirectory: "/opt/rapyuta/volumes/docker-cache/"
